/* CSS RULES FOR THE TIC TAC TOE GAME */


/* style.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: black;

  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
    margin: 20px auto;
    width: max-content;
  }
  
  .cell {
    width: 100px;
    height: 100px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    cursor: pointer;
    border: 1px solid #ccc;
  }
  
  .cell:hover {
    background-color: #ddd;
  }
  
  #restartBtn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: whitesmoke;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
  }


  /* Rules for the Title of the game */
  h1 {
    color: whitesmoke;
    text-shadow: 2px 2px 4px rgba(214, 234, 225, 0.6); 
  }

 #status {
  color: whitesmoke;
 }
  